<% content_for :html_head do %>
    <script type="text/javascript">
        $(document).ready(function() {
            var toggle_elements = $("#options tr.expandable");
            $.each(toggle_elements, function() {
              $(this).next().toggle();
            });
            // Expand/collapse AssignedService row
            $("#options tr.expandable > th").live("click", function(e) {
                var next = $(this).parent().next();
                next.toggle();
                if (next.is(":visible")) {
                    $(this).css("cursor", "n-resize");
                } else {
                    $(this).css("cursor", "s-resize");
                };
            });

            // Appends new AssignedService row
            $('#new_option').click(function() {
                var tbody = $("#options");
                var row = $.templates.get("options");
                row.appendTo(tbody).show();
                return false;
            });

            // Remove existing Service row
            $('#options a.remove').live("click", function() {
                var row = $(this).closest('tr');
                row.next().remove();
                row.remove();
                return false;
            });

            // Set correct indexes of form fields
            $("form").submit(function() {
                var rows = $("#options tr");
                $.each(rows, function() {
                    var index = rows.index($(this));
                        $.each($(this).find("input, select"), function() {
                            var name = $(this).attr("name")
                            $(this).attr("name", name.replace("NEW_ROW", index));
                        });
                    });
            });
        });
    </script>
<% end %>

<h1>Editing service</h1>

<%= form_for([:admin, @service]) do |f| -%>
    <%= render :partial => "form", :object => f %>
    <h2>Options</h2>
    <table class="zebra-striped" id="options_list">
        <thead>
            <tr>
                <td class="yellow header headerSortDown">Name</td>
                <td class="blue header">Title</td>
                <td class="blue header">Required</td>
                <td class="blue header">Overridable</td>
                <td class="blue header">Value type</td>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3"><a href="#" id="new_option">Add new</a></td>
            </tr>
        </tfoot>
        <tbody id="options">
          <%= options_fields(f) %>
          <%= option_row_template(f) %>
        </tbody>
    </table>
    <div class="actions">
        <%= f.submit "Update service", :class => "btn primary" %>
        <%= link_to("Delete service", admin_service_path(@service),
                    "data-method" => "delete",
                    "data-confirm" => "Are you sure to delete this record?") %>
    </div>
<% end -%>
