<div class="clearfix">
  <%= edit_form.label :domain %>
  <div class="input">
    <%= edit_form.collection_select :domain_id, Domain.all, :id, :title, {} %>
  </div>
</div>

<div class="clearfix">
  <%= edit_form.label :first_name %>
  <div class="input">
    <%= edit_form.text_field :first_name, :size => 30 %>
  </div>
</div>

<div class="clearfix">
  <%= edit_form.label :last_name %>
  <div class="input">
    <%= edit_form.text_field :last_name, :size => 30 %>
  </div>
</div>

<div class="clearfix">
  <%= edit_form.label :middle_name %>
  <div class="input">
    <%= edit_form.text_field :middle_name, :size => 30 %>
  </div>
</div>

<div class="clearfix">
  <%= edit_form.label :login %>
  <div class="input">
    <%= edit_form.text_field :login, :size => 30 %>
  </div>
</div>

<div class="clearfix">
  <%= edit_form.label :password %>
  <div class="input">
    <%= edit_form.text_field :password,
                             :id => "password_field",
                             :disabled => true %>
    <%= link_to "Edit password", "#", :id => "password_enable" %>
  </div>
</div>

<div class="clearfix">
  <%= edit_form.label :balance %>
  <div class="input">
    <%= edit_form.text_field :balance, :size => 10, :disabled => true %>
    <%= link_to "Deposit/Withdraw", "#", :id => "change_balance" %>
  </div>
</div>

<div class="clearfix">
  <%= edit_form.label :active %>
  <div class="input">
    <%= edit_form.check_box :active %>
    <span>Yes, serve this account</span>
  </div>
</div>

<div id="balance-form" title="Deposit/Withdraw balance">
  <form>
    <div class="clearfix">
      <label for="amount">Amount</label>
      <div class="input">
        <input type="text" name="amount" id="amount"/>
      </div>
    </div>
    <div class="clearfix">
      <label for="reason">Comment</label>
      <div class="input">
        <input type="text" name="comment" id="comment"/>
      </div>
    </div>
    </form>
</div>
