<% if form.object.new_record? %>
  <div class="clearfix">
    <%= form.label :assigned_service_id %>
    <div class="input">
      <%= form.collection_select(:assigned_service_id, AssignedService.available, :id, :title, :include_blank => true) %>
    </div>
  </div>
<% end %>

<div class="clearfix">
    <%= form.label :start_at %>
    <div class="input">
        <%= form.datetime_select :start_at, :include_blank => true, :start_year => Time.now.year %>
    </div>
</div>

<div class="clearfix">
    <%= form.label :expires_at %>
    <div class="input">
        <%= form.datetime_select :expires_at, :include_blank => true, :start_year => Time.now.year %>
        <span class="help-inline">Unlink this service at the end of billing cycle.</span>
    </div>
</div>

<div class="clearfix">
    <%= form.label :expiring %>
    <div class="input">
        <%= form.check_box :expiring %> Yes, unlink it
    </div>
</div>

<div class="clearfix">
    <%= form.label :active %>
    <div class="input">
        <%= form.check_box :active %> Yes, service is available
        <span class="help-inline">Indicates that service is available for this account.</span>
    </div>
</div>
