<div class="clearfix">
  <%= form.label :login %>
  <div class="input">
    <%= form.text_field :login, :size => 30 %>
  </div>
</div>

<div class="clearfix">
  <%= form.label :email %>
  <div class="input">
    <%= form.text_field :email, :size => 30 %>
  </div>
</div>

<div class="clearfix">
  <%= form.label :authentication_token %>
  <div class="input">
    <%= form.text_field :authentication_token, :size => 30 %>
  </div>
</div>
