<% content_for :sidebar do %>
  <h5><%= link_to 'Create admin account', new_admin_admin_path %></h5>
  <h5><%= link_to 'List of admin accounts', admin_admins_path %></h5>
<% end %>

<% content_for :html_head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#password_enable').click(function() {
        $('#password_field').removeAttr("disabled");
        $('#password_field').val("");
      });
    });
  </script>
<% end %>

<h1>Editing profile</h1>

<%= form_for([:admin, @admin]) do |f| -%>
  <%= render "shared/error_messages", :target => @admin %>
  <%= render :partial => "form", :locals => { :admin => @admin },
    :object => f %>
  <%= render :partial => "permission", :locals => { :admin => @admin },
    :object => f %>
  <div class="actions">
    <%= f.submit 'Update account', :class => "btn primary" %>
    <%= link_to("Delete account", admin_admin_path(@admin),
                "data-method" => "delete",
                "data-confirm" => "Are you sure to delete this record?") %>
  </div>
<% end -%>
