<!DOCTYPE html>
<html>
<head>
  <title>Netspire Control Panel</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :html_head %>
</head>
<body>
  <div id="spinner" class="spinner">
    <%= image_tag 'ajax-loader.gif' %>
  </div>

  <div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar">
      <div class="fill">
        <div class="container-fluid">
          <h3><%= link_to("#{current_admin.domain.title}", admin_dashboard_path) %></h3>
          <ul>
            <li><%= link_to('Accounts', admin_accounts_path) %></li>
            <li><%= link_to('Transactions', admin_transactions_path) %></li>
          </ul>

          <ul class="nav">
            <li class="menu">
            <a href="#" class="menu">Settings</a>
            <ul class="menu-dropdown">
            </ul>
            </li>
          </ul>

          <ul class="nav">
            <li class="menu">

            <a href="#" class="menu">Services</a>
            <ul class="menu-dropdown">
            </ul>
            </li>
          </ul>

          <ul class="nav secondary-nav">
            <li class="menu">

            <%= link_to "Logged in as #{current_admin.login}", '#', :class => 'menu' %>
            <ul class="menu-dropdown">
              <li><%= link_to('Profile', admin_profile_path) %></li>
              <li class="divider"></li>
              <li><%= link_to("Sign out", destroy_admin_session_path) %></li>
            </ul>
            </li>
          </ul>
        </div> <!-- container-fluid -->
      </div> <!-- fill -->
    </div> <!-- topbar -->
  </div> <!-- topbar-wrapper -->

  <% flash.each do |key, value| %>
    <strong>
      <%= content_tag(:div, value,
                      :style => "text-align: center; padding-top: 40px; position: absolute; width: 100%",
                      :id => "flash_",
                      :class => "alert-message #{key}") %>
    </strong>
  <% end %>

  <div class="container-fluid" style="padding-top: 70px">
    <div class="sidebar" style="top: 70px">
      <%= yield :sidebar %>
    </div>
    
    <div class="content">
      <%= yield %>
    </div>
  </div>

  <footer class="footer">
    Netspire Billing System. This is early alpha software.
  </footer>

</body>
</html>
